; Engine configuration file for exporting the project.
; It's best edited using the editor UI and not directly,
; since the parameters that go here are not all obvious.
;
; Format:
;   [section] ; section goes between []
;   param=value ; assign values to parameters

[preset.0]
name="Windows Desktop"
platform="Windows Desktop"
runnable=true
advanced_options=false
dedicated_server=false
custom_features=""
export_filter="all_resources"
include_filter=""
exclude_filter="tests/,addons/gut/,docs/,tools/,.tmp_gut/,.workbuddy/,export_presets.cfg"
encrypt_include_filters=""
encrypt_exclude_filters=""
encrypt_key=""
encrypt_export_pck=false
packages/Windows Desktop=""

[preset.0.options]
custom_template/debug=""
custom_template/release=""
variant/extensions_support=false
binary/64_bits=true
binary/32_bits=false
binary/embed_pck=true
texture_format/bptc=true
codesign/enable=false
codesign/timestamp=true
codesign/timestamp_server_url=""
codesign/digest_algorithm="sha256"
codesign/description=""
codesign/custom_options=""
application/icon=""
application/console_wrapper_icon=""
application/icon_interpolation="nearest"
application/file_version=""
application/product_version=""
application/file_description=""
application/copyright=""
application/trademarks=""
application/company_name=""
application/product_name=""
application/info=""
application/run_at_startup=false
application/restart_on_crash=false
codesign/identity_type=0
codesign/identity=""
codesign/identity_valid=false
codesign/password=""
ssh/remote_deploy_enabled=false
ssh/remote_host=""
ssh/remote_port=22
ssh/remote_username=""
ssh/remote_extra_args_ssh=""
ssh/remote_extra_args_scprsync=""
